/* Reset and Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #fff;
  color: black;
}

section {
  min-height: 100vh;
  padding-top: 100px;
  /* Prevent navbar from overlapping content */
}

/* Navbar */
.navbar {
  background: #FCA4E0;
  padding: 30px 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.nav-left {
  font-size: 28px;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  font-size: 28px;
  color: black;
  border-bottom: 3px solid transparent;
}

.nav-links a:hover {
  border-bottom: 3px solid #E7035C;
}

.nav-links a.active {
  border-bottom: 3px solid black;
}

.hero {
  min-height: 100vh;
  padding-top: 200px;
  padding-bottom: 80px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.intro-box {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px;
}

.intro-box h1 {
  max-width: 1000px;
  font-size: 100px;
  font-weight: normal;
  margin-bottom: 20px;
}

.typed-wrapper {
  width: 1000px;
  height: 250px;
  font-size: 80px;
  font-style: italic;
  line-height: 1.4;
  overflow: hidden;
}

.sparkle {
  top: 100px;
  left: 60px;
}

.heart {
  top: 120px;
  right: 100px;
}

.star {
  bottom: 150px;
  left: 150px;
}

/* Arrow */
.arrow {
  padding-top: 80px;
  width: 80px;
  animation: bounce 1.5s infinite;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }
}